################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NewsProject/NewsProject/bin
/NewsProject/NewsProject/obj/Debug
